*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_top{
    border-bottom: 1px solid #e5e5e5;
    /* margin: 0 auto;
    max-width: 1200px; */
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header_top_left{
    display: flex;
}
.header_top_email,.header_top_phone{
    font-size: 16px;
    color: #252525;
    padding: 15px 20px;
}
.header_top_email{
    border-right: 1px solid #e5e5e5;
}
.header_top_email i{
    margin-right: 5px;
}
/* header_top_right */
.header_top_right{
    display: flex;
    align-items: center;
    gap:20px;   /* tạo khoảng các giữa các phần tử */
}
.header_top_social, .header_top_lang{
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 15px;
    border-right: 1px solid #e5e5e5;
}
.header_top_social a{
    font-size: 16px;
    color: #252525;
    margin-right: 10px;
}
.header_top_login a{
    color: #252525;
    font-size: 16px;
}
header_top_login i{
    margin-right: 7px;
}
